<a href="https://colab.research.google.com/github/sudsali/DSBDA/blob/main/Facebook_Dataset(EDA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Sudhanshu Sali  
### TEIT 
### 9059  
### DSBDA Assignment Facebook

In [ ]:
# importing required libraries -
import numpy as np
import pandas as pd

# Data preprocessing

In [ ]:
fb_data = pd.read_csv('/content/sample_data/dataset_Facebook.csv',';')
fb_data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,"119,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
fb_data.shape

(500, 19)

In [ ]:
type(fb_data)

pandas.core.frame.DataFrame

Checking for null values in the dataset

In [ ]:
fb_data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total,Reach                                              0
Lifetime,Post,Total,Impressions                                        0
Lifetime,Engaged,Users                                                 0
Lifetime,Post,Consumers                                                0
Lifetime,Post,Consumptions                                             0
Lifetime,Post,Impressions,by,people,who,have,liked,your,Page           0
Lifetime,Post,reach,by,people,who,like,your,Page                       0
Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total,Interactions                                                     0
dtype: int64

In [ ]:
# delete rows with null values
fb_data.dropna(axis=0,inplace=True)
fb_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,"176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
# check for null values again (confirm that there are no null values)
fb_data.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total,Reach                                              0
Lifetime,Post,Total,Impressions                                        0
Lifetime,Engaged,Users                                                 0
Lifetime,Post,Consumers                                                0
Lifetime,Post,Consumptions                                             0
Lifetime,Post,Impressions,by,people,who,have,liked,your,Page           0
Lifetime,Post,reach,by,people,who,like,your,Page                       0
Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post    0
comment                                                                0
like                                                                   0
share                                                                  0
Total,Interactions                                                     0
dtype: int64

Thus, all null values are removed

# Creating data subsets -

In [ ]:
print(fb_data.columns)

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total,Reach',
       'Lifetime,Post,Total,Impressions', 'Lifetime,Engaged,Users',
       'Lifetime,Post,Consumers', 'Lifetime,Post,Consumptions',
       'Lifetime,Post,Impressions,by,people,who,have,liked,your,Page',
       'Lifetime,Post,reach,by,people,who,like,your,Page',
       'Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post',
       'comment', 'like', 'share', 'Total,Interactions'],
      dtype='object')

In [ ]:
fb_data.shape

(495, 19)

### Creating subsets row-wise

In [ ]:
row_subset_1 = fb_data.loc[:245,:]
row_subset_1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,130791,Photo,1,7,4,11,0.0,4892,8499,536,460,721,7389,4206,428,4,118.0,22.0,"144,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
242,130791,Status,2,7,4,6,0.0,17360,33613,2573,2448,6017,23338,11800,1905,9,484.0,79.0,"572,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,"409,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,"6334,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
245,130791,Photo,1,7,2,13,0.0,44464,66824,1052,930,1571,22904,14080,559,4,154.0,30.0,"188,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
row_subset_2 = fb_data.loc[250:,:]
row_subset_2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
250,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71.0,10.0,"85,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
251,129600,Photo,1,7,6,11,0.0,26944,43464,877,740,1097,20270,10208,563,6,194.0,34.0,"234,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
252,129600,Photo,3,7,6,5,0.0,5292,9321,756,646,1033,5867,3404,516,6,226.0,42.0,"274,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
253,129600,Status,2,7,5,12,1.0,15576,27513,2417,2327,3098,19078,10840,1839,11,238.0,51.0,"300,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
254,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755.0,58.0,"823,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,"176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

### Creating subsets column-wise

In [ ]:
col_subset_1 = fb_data.iloc[:,:10]
col_subset_1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178
1,139441,Status,2,12,3,10,0.0,10460,19057,1457
2,139441,Photo,3,12,3,3,0.0,2413,4373,177
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211
4,139441,Photo,2,12,2,3,0.0,7244,13594,671
...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810
495,85093,Photo,3,1,7,2,0.0,4684,7536,733
496,81370,Photo,2,1,5,8,0.0,3480,6229,537
497,81370,Photo,1,1,5,2,0.0,3778,7216,625
498,81370,Photo,3,1,4,11,0.0,4156,7564,626

In [ ]:
col_subset_2 = fb_data.iloc[:,11:]
col_subset_2

,"Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...
494,1003,5654,3230,422,10,125.0,41.0,"176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
495,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

# Merging data subsets created above

### Row merge

In [ ]:
row_merge = pd.concat([row_subset_1, row_subset_2])
row_merge

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,"176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

### Column merge

In [ ]:
col_merge = pd.merge(col_subset_1, col_subset_2, how='left', left_index=True, right_index=True)
col_merge

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,159,3078,1640,119,4,79.0,17.0,"100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1674,11710,6112,1108,5,130.0,29.0,"164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,154,2812,1503,132,0,66.0,14.0,"80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,580,6228,3200,396,19,325.0,49.0,"393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,1003,5654,3230,422,10,125.0,41.0,"176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,985,4750,2876,392,5,53.0,26.0,"84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,687,3961,2104,301,0,53.0,22.0,"75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,795,4742,2388,363,4,93.0,18.0,"115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,832,4534,2452,370,7,91.0,38.0,"136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

# Sorting data

In [ ]:
sort_by_like = fb_data.sort_values(by=['like']) # By default, ascending is True
sort_by_like

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,"1974,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,"1806,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,"2177,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,"6334,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

In [ ]:
sort_by_like_desc = fb_data.sort_values(by=['like'], ascending=False)
sort_by_like_desc

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,"Lifetime Post Total,Reach","Lifetime,Post,Total,Impressions","Lifetime,Engaged,Users","Lifetime,Post,Consumers","Lifetime,Post,Consumptions","Lifetime,Post,Impressions,by,people,who,have,liked,your,Page","Lifetime,Post,reach,by,people,who,like,your,Page","Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",comment,like,share,"Total,Interactions"
244,130791,Photo,2,7,3,5,1.0,180480,319133,8072,4010,6242,108752,51456,3316,372,5172.0,790.0,"6334,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
379,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,"2177,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
349,117764,Photo,3,5,5,13,0.0,81856,124753,3000,1637,2718,52477,27392,1756,45,1639.0,122.0,"1806,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,"1974,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,"1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,137893,Photo,1,11,3,2,0.0,1228,2392,17,17,19,2392,1228,17,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
21,138414,Photo,1,12,7,10,0.0,1384,2467,15,15,20,2196,1172,15,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
417,104070,Photo,1,3,3,10,0.0,1874,2474,25,25,31,1483,1062,15,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,"0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

# Transpose Data

In [ ]:
transpose_data = fb_data.T
transpose_data

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85979,85093,85093,85093,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,3,1,3,3,3,2,1,3
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,7,6,6,5,1,7,7,5,5,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,2,11,3,11,2,10,2,8,2,11
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Lifetime Post Total,Reach",2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,4800,5280,6184,45920,8412,5400,4684,3480,3778,4156
"Lifetime,Post,Total,Impressions",5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,7754,8703,10228,5808,13960,9218,7536,6229,7216,7564
"Lifetime,Engaged,Users",178,1457,177,2211,671,1191,481,537,1530,280,...,975,951,956,753,1179,810,733,537,625,626
"Lifetime,Post,Consumers",109,1361,113,790,410,1073,265,232,1407,183,...,938,911,901,655,1111,756,708,508,572,574
"Lifetime,Post,Consumptions",159,1674,154,1119,580,1389,364,305,1692,250,...,1278,1237,1140,763,1632,1003,985,687,795,832
"Lifetime,Post,Impressions,by,people,who,have,liked,your,Page",3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,4932,5757,6085,15766,8632,5654,4750,3961,4742,4534
"Lifetime,Post,reach,by,people,who,like,your,Page",1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,2820,3300,3502,10720,5348,3230,2876,2104,2388,2452
"Lifetime,People,who,have,liked,your,Page,and,engaged,with,your,post",119,1108,132,1386,396,1016,379,422,1250,199,...,432,431,437,220,699,422,392,301,363,370
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,1,0,17,10,5,0,4,7
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,74.0,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,28.0,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0
"Total,Interactions","100,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","164,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","80,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","1777,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","393,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","186,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","279,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","339,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","192,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","142,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",...,"103,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","110,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","152,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","137,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","257,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","176,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","84,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","75,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","115,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,","136,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,"

# Reshape data

In [ ]:
interactions_data = fb_data[['Type','like','comment']]
interactions_data

       Type    like  comment
0     Photo    79.0        4
1    Status   130.0        5
2     Photo    66.0        0
3     Photo  1572.0       58
4     Photo   325.0       19
..      ...     ...      ...
494   Photo   125.0       10
495   Photo    53.0        5
496   Photo    53.0        0
497   Photo    93.0        4
498   Photo    91.0        7

[495 rows x 3 columns]

In [ ]:
category_data = pd.pivot_table(interactions_data, index=['Type','like'])
category_data

             comment
Type  like
Link  5.0        0.0
      6.0        0.0
      12.0       0.5
      16.0       0.0
      18.0       6.0
...              ...
Video 143.0     18.0
      204.0     23.0
      315.0     18.0
      345.0      6.0
      449.0     17.0

[301 rows x 1 columns]

In [ ]:
category_data.reset_index()

      Type   like  comment
0     Link    5.0      0.0
1     Link    6.0      0.0
2     Link   12.0      0.5
3     Link   16.0      0.0
4     Link   18.0      6.0
..     ...    ...      ...
296  Video  143.0     18.0
297  Video  204.0     23.0
298  Video  315.0     18.0
299  Video  345.0      6.0
300  Video  449.0     17.0

[301 rows x 3 columns]

In [ ]:
d = pd.melt(fb_data, 'like', var_name='Category', value_name='value')
print(d.head())

     like          Category   value
0    79.0  Page total likes  139441
1   130.0  Page total likes  139441
2    66.0  Page total likes  139441
3  1572.0  Page total likes  139441
4   325.0  Page total likes  139441